<!-- CarouselStart -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" ng-src="{{homeImg.Slider1}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Secure And Safe Money Transfer</h5>
                <p>We'll Keep Your Login And Financial Information Secure</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" ng-src="{{homeImg.Slider2}}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Simple To Use</h5>
                <p>Sender Only Needs To Have An Active Mobile Connection To Use This Service</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" ng-src="{{homeImg.Slider3}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>No Formalities Needed</h5>
                <p>No Need To Submit Any Documents At The Time Of Enrollment</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" ng-src="{{homeImg.Slider4}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Real Time Monitoring</h5>
                <p>Online Record Of Every Single Transaction To Let You Know About The Details</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100" ng-src="{{homeImg.Slider5}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Saves The Time</h5>
                <p>Mobile Money Transfer Saves The Time In Compared To Conventional Way</p>
            </div>
        </div>
    </div>

    <span class="carousel-control-prev" data-target="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="carousel-control-next" data-target="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </span>
</div>
<!-- CarouselEnd -->
<!--======================================================================================================================-->
<!--ContainerStart -->
<div class="container pb-5">
    <div class="homeheader">
        <h1>Send Your Money Through Your Mobile</h1>
        <p class="lead">InnoTm Offers A Vast Range Of Services On Real-Time Basis</p>
    </div>


    <hr class="mt-5">
    <!-- OvervoewStart -->
    <div class="pt-3">
        <h3 class="text-center">Overview</h3>
        <!-- <p class="text-justify pt-3">Mobile Payment (Also Referred To As Mobile Money, Mobile Money Transfer, And Mobile Wallet) Generally Refer To Payment Services Operated Under Financial Regulation And Performed From Or Via A Mobile Device. Instead Of Paying With Cash, Cheque, Or Credit Cards, A Consumer Can Use A Mobile Phone To Pay For A Wide Range Of Services And Digital Or Hard Goods.</p> -->

        <p class="text-justify pt-3">InnoTm came as a solution to the next generation of money movers who like to do things at their own time and place. Through our portal, you can sit at the comfort of your home, office or pretty much anywhere, and send money to anywhere! Through our strong network of correspondent banks and payment agents, your money will reach its destination with no hassles. Our customer service team works round-the-clock to ensure you have an enhanced experience transferring money online.</p>
    </div>
    <!--OverviewEnd  -->
    <!-- FeaturesStart -->
    <div class="text-center pt-5">
        <h3>Our Features</h3>
        <div class="row pt-5">
            <div class="col-md-4 offset-md-1">
                <i class="fab fa-6x fa-expeditedssl"></i>
                <h5 class="pt-3 expeditedssl">Safe and Secure</h5>
                <p class="pt-2">All financial transactions are 100% safe and secure on InnoTm.</p>
            </div>

            <div class="col-md-4 offset-md-2">
                <i class="fas fa-6x fa-thumbs-up"></i>
                <h5 class="pt-3 thumbs-up">Simple</h5>
                <p class="pt-2">It’s easy to use and we’re here to help round the clock.</p>
            </div>
        </div>

        <div class="row pt-md-5">
            <div class="col-md-4 offset-md-1">
                <i class="fas fa-6x fa-paper-plane"></i>
                <h5 class="pt-3 paper-plane">Fast</h5>
                <p class="pt-2">Get your money to family and friends in minutes</p>
            </div>

            <div class="col-md-4 offset-md-2">
                <i class="fas fa-6x fa-globe"></i>
                <h5 class="pt-3 globe">Trusted</h5>
                <p class="pt-2">Believe the hype: 10,000+ trusted users around the world.</p>
            </div>
        </div>
    </div>
    <!-- FeaturesEnd -->
    <!-- TestimonialStart -->

    <div class="pt-5">
        <h3 class="text-center">They Admit Our Service Is Good</h3>

        <div class="row pt-2">
            <div class="col-md-5">
                <div class="text-center">
                    <div class="pt-3">
                        <img ng-src="{{homeImg.diveshSir}}" class="img-thumbnail rounded-circle img-fluid" style="max-height: 100px;">
                    </div>
                    <h4 class="pt-3" style="letter-spacing: -1px; font-weight: 500;">Divesh Khemani</h4>
                    <h6 class="text-primary">Web Developer</h6>
                    <blockquote class="pt-4"><i class="fas fa-quote-left"></i> After Try All The Networks I Couldn't Get Good Reception, After Lots Of Hunting I Got To Know About Their Service And I Am Pretty Much Satisfied With The Services.</blockquote>
                    <div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>


            <div class="col-md-5 offset-md-2">
                <div class="text-center">
                    <div class="pt-3">
                        <img ng-src="{{homeImg.AnnaDeynah}}" class="img-thumbnail rounded-circle img-fluid" style="max-height: 100px;">
                    </div>
                    <h4 class="pt-3" style="letter-spacing: -1px; font-weight: 500;">Anna Deynah</h4>
                    <h6 class="text-primary">Web Designer</h6>
                    <blockquote class="pt-4"><i class="fas fa-quote-left"></i> It Has Been More Than One Year Since I Am Using InnoTm Service To Remit Money, It Is One Of The Easiest Way Of Remitting Money And I Am Very Much Satisfied.</blockquote>
                    <div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TestimonialEnd -->
</div>
<!-- ContainerEnd -->
